<html lang="en" ng-app="gladkropApp">
<head>
    <title>Gladkrop</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>

<body layout="row" ng-controller="frontpageController as fp" ng-cloak>

<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>

        <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>

            <div>Gladkrop</div>
            <div>email@domainname.com</div>
        </div>
    </md-toolbar>
    <md-list>
        <md-item ng-repeat="item in menu">
            <a href="{{item.link}}">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <md-subheader>Regnskab</md-subheader>
        <md-item ng-repeat="item in admin">
            <a>
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-item>
    </md-list>
</md-sidenav>

<div layout="column" class="relative" layout-fill role="main">
    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
                Dashboard
            </h3>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-content md-scroll-y flex>
        <div ng-view>

        </div>
    </md-content>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<script src="./js/bundled.js"></script>
</body>
</html>





